<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/shop" class="text-light text-decoration-none">Shop</a></li>
          <li><a href="/about" class="text-light text-decoration-none">About</a></li>
          <li><a href="/contact" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contact Info</h5>
        <p class="mb-1">Email: info@techstore.ie</p>
        <p class="mb-1">Phone: +353 71 123 4567</p>
        <p class="mb-1">Address: ATU Sligo, Ash Lane, Sligo, Ireland</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <p>Facebook | Twitter | Instagram</p>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p class="mb-0">&copy; 2025 TechStore. All rights reserved.</p>
      <p class="mb-0">Student: Yevhen Hurianov - S00269730</p>
    </div>
  </div>
</footer>
