<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <strong>TechStore</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{#if (eq activePage 'home')}}active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq activePage 'shop')}}active{{/if}}" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq activePage 'about')}}active{{/if}}" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq activePage 'contact')}}active{{/if}}" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq activePage 'login')}}active{{/if}}" href="/login" id="loginLink">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq activePage 'checkout')}}active{{/if}}" href="/checkout">
            <span id="cartBadge" class="position-relative">
              🛒 Cart
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cartCount">
                0
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
